<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esabha</title>
    <link  href="/static/vender/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/vender/css/bootstrap.min.js"> </script>

    <link  href="/static/style.css" rel="stylesheet"/>

</head>
<body>
 <header id="ali1">
     <img class="w-100 h-100" src="/static/images/banner.jpg" />
     <div id="esabhaid">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
     </div>
 </header>

  <h1><a href="/home"> Our Home page </a> </h1>

    <h1> <a href="/about">Our about  page</a> </h1>

    <h1> <a href="/contact"> our contant page </a> </h1>


    {% if user.is_authenticated %}
    <a href="/accounts/logout">Logout</a>
    {% else %}
    <a href="/accounts/login">Login</a>
    {% endif %}
    <br>
    <br>

    {% if user.is_superuser %}
    <a href="/admin">admin </a>
    {% else %}
    {% if user.is_authenticated %}
    <a href="/social/profile/edit/{{user.profile.id}}">edit profile</a>
    {%endif %}
    {%endif%}

/static/images/pic1.jpg

    {% block content %}
    {% endblock content %}


    <p>copyright </p>

</body>

</html>

















# @method_decorator(login_required, name="dispatch")
# class MyPostCreate(CreateView):
#     model = MyPost
#     fields = ["subject" , "msg" ,"pic"]
#     def form_invalid(self, form):
#         self.object = form.save()
#         self.object.uploaded_by = self.request.user.myprofile
#         self.object.save()
#         return HttpResponseRedirect(self.get_success_url())




