{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="p-5">
    <h1> {{mypost.subjecct}} </h1>
    <hr>
    <p> <strong> date </strong> {{mypost.cr_date}} </p>
    <p> <strong> Message </strong> {{mypost.msg}} </p>
    <img class="img-fluid" src="/media/{{mypost.pic}}" />
<br>
    <hr>
    <a class="btn btn-dark my-3" href="/mypost"> Back Post page </a> <br>
    <a class="btn btn-dark" href="/home"> Back To Home </a>

</div>


{% endblock content %}